* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #3F3244;
  color: #FFF;
  height: 70px;
  padding: 20px 50px;
  font-size: 24px;
}

button {
  color: #FFF;
  background-color: #3F3244;
  height: 50px;
  width: 30%;
  display: block;
  font-size: 18px;
  margin: auto;
}

.party {
  color: #34D1D1
}

.name {
  float: right;
  font-weight: 600;
  font-size: 18px;
  padding-top: 3px;
}

.type-header {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  font-weight: 300;
}

hr {
  width: 80%;
}

.tab-container {
  width: 80%;
  margin: 45px auto;
}

input {
  display: none;
}

label {
  /*display: block;*/
  float: left;
  width: 25%;
  height: 50px;
  color: #757575;
  text-align: center;
  background: #f0f0f0;
  border-bottom: 1px solid grey;
  padding: 15px;
}

.content {
  display: none;
  border: 1px solid grey;
  border-top: none;
  padding: 40px 25px;
  height: auto;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 45px auto;
}

.tab-container [id^="tab"]:checked + label {
  background: #fff;
  border: 1px solid grey;
  border-bottom: none;
  font-weight: 600;
}

.box {
  grid-column: 1;
  grid-row: 1 / 3;
  width: 90%;
  height: 100%;
  border: 1px solid grey;
  background-image: url('./placeholder.png');
  background-size: 100% 100%;
}

.content h2 {
  grid-column: 2;
  grid-row: 1;
  border-bottom: 1px solid grey;
}

.content p {
  grid-column: 2;
  grid-row: 2;
  padding-top: 20px;
}

/*
flexible cards
*/

.flexible-cards {
  margin: 45px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 32%;
  height: 300px;
  border: 1px solid grey;
  margin: 10px 0;
}

.card-large {
  width: 66%
}

/* accordian tabs mobile */

@media screen and (max-width: 550px) {
  
  .tab-container {
    width: 90%;
/*    display: flex;
    flex-direction: column;*/
    display: grid;
    grid-template-rows: repeat(8, auto);
  }

  label {
    display: block;
    width: 100%;

  }


  #tab1:checked ~ #content1 {
/*    grid-template-rows: unset;
    grid-auto-columns: unset;
    grid-row: 2;*/
    /*order: 2*/
  }

  #content1 {
    order: 0
  }
  /*#tab1:checked > article { order: -1; }*/
  /*#tab2:checked :nth-sibling(2) { order: -1; }*/
/*  #tab1:checked :nth-child(3) { order: 1; }
  #tab1:checked :nth-child(4) { order: 3; }
  #tab1:checked :nth-child(5) { order: 1; }*/
}








